.copyright {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid;
    background: rgb(182, 177, 177);
    z-index: 100;
}

.reserva-boton {
    text-align: center;

}

footer {
    margin-top: 20px;
}