$color-primario: rgb(255, 228, 196);
$color-secundario: rgb(255, 255, 255);
$color-primario-header: rgb(11, 191, 211);
$color-primario-borde: rgb(45, 107, 109);
$border-radius-small: 5px;
$border-radius-medium: 8px;
$border-radius-large: 12px;
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;
$transition-fast: 0.2s;
$transition-medium: 0.3s;
$transition-slow: 0.5s;